{{ $gallery := .Get "gallery" }}
<section class="gallery">
{{ range (.Page.Resources.Match (printf "%s*" (.Get "folder"))) }}
<article>
        <a data-fslightbox="{{ $gallery }}" href="{{.RelPermalink}}">
        <img
          srcset="
            {{ (.Fill "320x320").RelPermalink }} 320w,
            {{ (.Fill "600x600").RelPermalink }} 600w,
            {{ (.Fill "1200x1200").RelPermalink }} 2x"
          src="{{ (.Fill "400x400").RelPermalink }}" />
      </a>
</article>
{{ end }}
</section>
